
.yasgui-disable-styles div.controlbar {
    display: none;
}

.yasgui-disable-styles div.tabsList {
    display: none;
}

.yasgui-disable-styles div.yasqe_buttons {
    display: none;
}

.yasgui-disable-styles div.yasr {
    display: none;
}